html {
    font-size: 1rem;
}

/* anything below 576px */
@media (max-width: 576px) {
    html {
        font-size: 0.6rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html {
        font-size: 0.6rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 0.8rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 1rem;
    }
}